
<%- include('header') %>
  <div class="page-wrapper">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Tables</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-0">View Comment</h5>
            </div>

            <form>
              <div class="position">
                
              </div>
              <input type="text" name="search">
              <input type="submit">
            </form>

            <form action="/admin/post/deleteCommentMultiRecord" method="post">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" ><input type="checkbox" id="checkAll"><button type="submit"  value="submit" style="border: none; background-color: transparent;"><i class="me-2 mdi mdi-delete"
                    style="color:gray; font-size: 25px;"></i></button></th>
                  <th scope="col">#</th>
                  <th scope="col">Image</th>
                  <th scope="col">Title</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Message</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% var i=1; for(var po of commentData){ %>
                  <tr>
                    <th scope="row"><input type="checkbox" name="delAll[]" value="<%= po.id %>"></th>
                    <th scope="row">
                      <%= i %>
                    </th>
                    <td><img src="<%= po.commentimage %>" height="70" /></td>
                    <td>
                        <%= po.postId.title %>
                    </td>
                    <td>
                      <%= po.name %>
                    </td>
                    <td>
                      <%= po.email %>
                    </td>
                    <td>
                      <%= po.message.slice(0,30) %>
                    </td>
                    <td>
                      <% if(po.isactive) { %>
                        <a href="/admin/post/activeComment/<%= po.id %>">Active</a>
                        <% } else { %>
                          <a href="/admin/post/deactivecomment/<%= po.id %>">Deactive</a>
                          <% } %>
                    </td>
                    <td><a href="/admin/post/deleteCommentRecord/<%= po.id %>"><i class="me-2 mdi mdi-delete"
                          style="color:gray; font-size: 25px;"></i></a>
                    </td>
                  </tr>
                  <% ++i } %>

                  <!-- <tr>

                    <td colspan="10" align="center">
                      <% for(var i=0; i< totalpage; i++) { %>
                        <a href="?page=<%= i %>&search=<%= search %>" class="btn btn-success"><%= i+1 %></a>
                      <% } %>
                    </td>
                  </tr> -->

                  <tr>
                    <td colspan="10" align="center">
                      <% var pre = currentpage - 1; if(pre > -1) { %>
                        <a href="?page=<%= pre %>&search=<%= search %>" class="btn btn-success">Prev</a>
                      <% } %>

                      <% var nn = parseInt(currentpage) + parseInt(1); if(nn > 0) { %>
                        <a href="?page=<%= nn %>&search=<%= search %>" class="btn btn-success"><%= nn %></a>
                      <% } %>

                      <% var next = parseInt(currentpage) + 1; if(next < totalpage) { %>
                        <a href="?page=<%= next %>&search=<%= search %>" class="btn btn-success">Next</a>
                      <% } %>
                    </td>

                  </tr>
              </tbody>
            </table>
          </form>
          </div>

        </div>
      </div>

    </div>

    <%- include('footer') %>

      <script>
        $('#checkAll').click(function () {
          $('input:checkbox').prop('checked', this.checked);
        }); 
      </script>